<div id="main_col"> 
<p>
  <div class="article_title"><%=@article.title %></div>
</p>
<p>
  <div class="article_text"><%=@article.text %></div>
</p>

<% if false %>
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% end %>
</div>
