<div id="mainCol">
<p>
  <%= @article.title %>
</p>
<p>
  <%= @article.text %>
</p>


<% if false %>
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% end %>
</div>
